<ns-action-bar></ns-action-bar>
<RadListView #listView [items]="dataItems" loadOnDemandMode="Manual"
    (loadMoreDataRequested)="onLoadMoreItemsRequested($event)" backgroundColor="white">
    <ng-template let-item="item">
        <ns-list-item [activity]="item"></ns-list-item>
    </ng-template>


</RadListView>
<!-- <ScrollView>
    <StackLayout *ngFor="let item of dataItems">
        <ng-template let-item="item"> 
            <ns-list-item [activity]="item"></ns-list-item>
        </ng-template>
    </StackLayout>
</ScrollView> -->