/*



.iconOption {
	margin: 10;
	padding: 0;
	border-radius: 50%;
	width: 50;
	background-color: white;
	font-size: 25;
	color: #FF317B;
	vertical-align: middle;
}
*/
.imageActivity {
	width: 1000;
	transform: rotate(23deg);
	margin-top: -100;
	margin-left: -250;
} 


.activityCard {
	background-color: white;
    height: 100%;
    width: 100%;
}

.title {
	color: #000;
	font-size: 26;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 5;
	margin: 0;
}

.descriptiontext{
	padding-bottom: 0;
	font-size: 16;
	margin-top: 30;
	padding-left: 5;
	color:#000;
}