.title {
	color: #646363;
	font-size: 19px;
	padding-bottom: 0;
    margin: 0;
}
 
.date{
	color: #646363; 
	padding-top: 0;
	font-size: 17px;
	margin: 0;
}

.descriptionGrid {
	margin-top: 5;
	padding: 7; 
	margin-bottom: 10;
	width: 100%;
}

.descriptiontext{
	font-size: 14;
	color:#000;
}

.Descriptitle{
	font-size: 19;
	color:#FF317B;
}

.activityCard {
    margin-top: 10;
    border-radius: 10;
    background-color: white;
    height: 320;
    width: 100%;
}


.imageActivity {
	width: 100%;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}
