<ScrollView orientation="vertical">
    <StackLayout backgroundColor="#fff">
        <GridLayout androidElevation="5" rows="*,auto,auto" columns="*,auto,auto " class="activityCard">

            <Pager loaded="onPageLoaded" row="0" colSpan="3" [items]="activity.images" #pager selectedIndex="0"
                class="pager">
                <ng-template let-i="index" let-item="item">
                    <Image [src]="item" width="100%" height="100%" stretch="aspectFill" class="imageActivity"></Image>
                </ng-template>
            </Pager>
            <Label text="{{activity.title}}" row="1" col="0" class="title R-light" textWrap="true"></Label>
            <Label text="{{ activity.dateStart  | date:'mediumDate' }} - {{ activity.dateEnd  | date:'mediumDate' }}"
                row="2" col="0" class="date R-light" textWrap="true"></Label>
        </GridLayout>

        <GridLayout row="0" rows="*,auto" columns="auto, auto" class="descriptionGrid">
            <Label text="Descripcion" class="Descriptitle R-light" textWrap="true" col="0" row="0"></Label>
            <Label text="{{activity.description}}" textWrap="true" col="0" row="1"
                class="descriptiontext R-regular"></Label>
        </GridLayout>

    </StackLayout>
</ScrollView>