<GridLayout columns="100, auto, *" rows="60, auto, *" backgroundColor="lightgray">
    <StackLayout backgroundColor="lightgray">
        <GridLayout>
            <Image stretch="aspectFit"
                src="https://2.bp.blogspot.com/-hX25emRI8rM/TeVNhupLqMI/AAAAAAAAABQ/z_1yablDY6I/s1600/AQC.jpg">
            </Image>
        </GridLayout>

        <GridLayout class="landmark-content">
            <Label text="Festival de la leyenda vallenata" textWrap="true"></Label>
            <Label text="Fecha inicio - fecha final" textWrap="true"></Label>

        </GridLayout>
    </StackLayout>
</GridLayout>